{% extends "base.html" %}

{% block content %}
  <h1>{{ musician.first_name }} {{ musician.last_name }}
    <a class="btn btn-secondary" style="float: right" href="{% url 'musician:musician_update' pk=musician.id %}">Edit</a>
  </h1>
  <p><strong>Instrument:</strong> {{ musician.instrument }}</p>
  <p><strong>Age:</strong> {{ musician.age }}</p>
  <p><strong>Date of Applying:</strong> {{ musician.date_of_applying }}</p>

  <div class="mt-3">
    <h3>Is Adult:</h3>
    <p>{{ musician.is_adult|yesno:"Yes,No" }}</p>
  </div>
{% endblock %}
