{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>Musician List
    <a class="btn btn-primary" style="float: right" href="{% url 'musician:musician_create' %}">+</a>
  </h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>

  {% if musician_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Instrument</th>
        <th>Age</th>
      </tr>
      {% for musician in musician_list %}
        <tr>
          <td>
            <a href="{{ musician.get_absolute_url }}">{{ musician.id }}</a>
          </td>
          <td>{{ musician.first_name }}</td>
          <td>{{ musician.last_name }}</td>
          <td>{{ musician.instrument }}</td>
          <td>{{ musician.age }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No musicians found.</p>
  {% endif %}
{% endblock %}
